lead-capture-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        128
      ],
      "id": "54efe123-77a5-4501-a126-1d508d819301",
      "name": "Webhook",
      "webhookId": "7d381b83-9f51-47fb-8681-fe00c2baf8f8"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"name\"]}}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"email\"]}}"
            },
            {
              "fieldId": "company",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"company\"]}}\n\n"
            },
            {
              "fieldId": "website",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"website\"]}}"
            },
            {
              "fieldId": "problem_text",
              "fieldValue": "={{$node[\"Webhook\"].json[\"body\"][\"problem\"]}}"
            },
            {
              "fieldId": "=fit_band",
              "fieldValue": "={{JSON.parse($node[\"Message a model\"].json.content.parts[0].text).fit_band}}"
            },
            {
              "fieldId": "rationale",
              "fieldValue": "={{JSON.parse($node[\"Message a model\"].json.content.parts[0].text).rationale}}"
            },
            {
              "fieldId": "use_case_label",
              "fieldValue": "={{JSON.parse($node[\"Message a model\"].json.content.parts[0].text).use_case_label}}"
            },
            {
              "fieldId": "fit_score",
              "fieldValue": "={{JSON.parse($node[\"Message a model\"].json.content.parts[0].text).fit_score}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        128
      ],
      "id": "622307cb-94be-45a7-a77c-b4fc4cddda1c",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "TD9ehCUpYpCobiIL",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "messages": {
          "values": [
            {
              "content": "=Analyze the following user problem statement. Your task is to generate a single, valid JSON object containing four specific keys: \"use_case_label\", \"fit_score\", \"fit_band\", and \"rationale\".\n\nInstructions:\n1. \"use_case_label\": Must be one of these exact strings: \"Internal automation\", \"Customer support\", \"Data processing\", \"Sales ops\", \"Other\".\n2. \"fit_score\": Must be an integer from 0 to 100.\n3. \"fit_band\": Must be \"High\" for scores >= 75, \"Medium\" for scores 40-74, or \"Low\" for scores < 40.\n4. \"rationale\": Must be a concise, single sentence explaining the score.\n\nDo not include any text, explanation, or markdown formatting before or after the JSON object.\n\nHere is the user's problem statement:\n{{$node[\"Webhook\"].json[\"body\"][\"problem\"]}}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        128
      ],
      "id": "b7446d81-3e5d-425c-b0b6-1c36b20bfc54",
      "name": "Message a model",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false,
      "notesInFlow": false,
      "credentials": {
        "googlePalmApi": {
          "id": "1GpJYKRGa06AYyJF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9fa8449e-d5b7-4cc1-b3de-41821ac12ae0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "651a189859a98e65dd8e0eab468af1a18080c4032f88c0de504844cfbd2a6e53"
  },
  "id": "fwyTXEnQZjprXUH8",
  "tags": []
}